<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Board</h1>
<!--        <p class="col-md-8 fs-4">게시판</p>-->
        <table class="table">
            <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">subject</th>
                <th scope="col">viewCount</th>
                <th scope="col">writer</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${articles}">
                <td th:text="${article.articleIdx}"></td>
                <a th:href="@{/article/view/{articleIdx}(articleIdx=${article.articleIdx})}">
                    <td th:text="${article.subject}"></td>
                </a>
                <td th:text="${article.viewCount}"></td>
                <td th:text="${article.writer}"></td>
                <td>
                    <!--                    <a href="#" th:href="@{/post/{id}/edit (id=${post.id})}"-->
                    <!--                       class="btn btn-primary" role="button">수정</a>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Weekly Best</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">subject</th>
                <th scope="col">view_count</th>
                <th scope="col">writer</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${articles}">
                <td th:text="${article.articleIdx}"></td>
                <a th:href="@{/article/view/{articleIdx}(articleIdx=${article.articleIdx})}">
                    <td th:text="${article.subject}"></td>
                </a>
                <td th:text="${article.viewCount}"></td>
                <td th:text="${article.writer}"></td>
                <td>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Application</h2>
            <p>dd</p>
            <button class="btn btn-outline-light" type="button">Example button</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Add borders</h2>
            <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure
                to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both
                column's content for equal-height.</p>
            <button class="btn btn-outline-secondary" type="button">Example button</button>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>